---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Peer-reviewed Articles</h2>

{% for post in site.publications reversed %}
  {% if post.category == 'Peer-reviewed Articles' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Thesis</h2>

{% for post in site.publications reversed %}
  {% if post.category == 'Thesis' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Institutional Reports</h2>

{% for post in site.publications reversed %}
  {% if post.category == 'Institutional Reports' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Opinion Articles</h2>

{% for post in site.publications reversed %}
  {% if post.category == 'Opinion Articles' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Open Data & Code</h2>

{% for post in site.publications reversed %}
  {% if post.category == 'Open Data & Code' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Cruise Reports</h2>

{% for post in site.publications reversed %}
  {% if post.category == 'Cruise Reports' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
